* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 128, 128);
    padding: 10px;
    font-size: 1.5vw;
    color: white;
}

h1 {
    text-align: center;
    margin: 1% 0;
}

img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

div {
    text-align: center;
}

ol {
    list-style-position: inside;
    font-size: 1.5vw;
}

li {
    list-style-type: none;
    counter-increment: step-counter;
    margin: 2% 0;
}

    li::before {
        content: counter(step-counter) ")";
    }

    input, li > select, button {
        font-size: 1.5vw;
    }

#medicalrecord {
    width: 10vw;
    height: auto;
}

#birthweight {
    width: 10vw;
    height: auto;
}

#apgar {
    width: 5vw;
    height: auto;
}

button {
    margin: 0 .5%;
}

select {
    display: inline;
}